@charset "UTF-8";


* {
	box-sizing: border-box;
	font-family: "M PLUS Rounded 1c", sans-serif;
}


:root {

	--main-color: rgb(253, 244, 230);
	--sub-color: #d98b99;
	--pinksub-color: #FFB6C1;
	--font-main-color: rgb(50, 26, 7);

}



body {

	margin: 0;

	background: var(--main-color);

	color: var(--font-main-color);

}



h1 {

	text-align: center;

	margin: 40px 0;

	color: var(--sub-color);

}



main {

	max-width: 1000px;

	margin: auto;

	padding: 30px 40px;

}



.purchase-card {

	display: flex;

	align-items: center;

	gap: 30px;

	background: white;

	padding: 20px;

	border-radius: 25px;

	margin-bottom: 20px;

}



.purchase-card img {

	width: 150px;

	height: 150px;

	object-fit: cover;

	border-radius: 20px;

}



.purchase-card-info {

	font-size: 1.1rem;

	font-weight: bold;

}



.purchase-card-info p {

	margin: 8px 0;

}



.price {

	color: var(--sub-color);

	font-size: 1.3rem;

}



hr {

	border: none;

	border-top: 2px solid #e5c9b5;

	margin: 40px 0 25px;

}



.purchase-summary {

	text-align: right;

}



.purchase-summary p {

	margin: 10px 0;

}



.purchase-total {

	color: var(--sub-color);

	font-size: 1.5rem;

	font-weight: bold;

}

.purchase-summary {

	display:flex;

	flex-direction:column;

	align-items:flex-end;

	margin-top:30px;

}


.purchase-summary p {

	width:300px;

	margin:8px 0;

	text-align:right;

}


.purchase-total {

	color:var(--sub-color);

	font-size:1.5rem;

	font-weight:bold;

	border-top:2px solid #e5c9b5;

	padding-top:15px;

}


a {

	display: block;

	width: 260px;

	margin: 40px auto;

	padding: 0.8rem 4rem;

	text-align: center;

	background: var(--pinksub-color);

	color: var(--font-main-color);

	border-radius: 999px;

	text-decoration: none;

	font-weight: bold;

	box-shadow: 0 6px 0 var(--sub-color);

	transition: 0.2s ease;

}



/* ボタン押下アニメーション */

a:active {

	transform: scale(0.92) translateY(5px);

	box-shadow: 0 2px 0 var(--sub-color);

}



@media screen and (max-width:700px) {


	main {

		padding: 20px;

	}


	.purchase-card {

		flex-direction: column;

		text-align: center;

	}


	.purchase-card img {

		width: 120px;

		height: 120px;

	}


}